basisformat_phase1.odd

<?xml version="1.0" encoding="utf-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0"
  xml:lang="en">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD file for the DTA customization applied in phase 1 of the project (without
          metadata)</title>
        <author>generated by Roma 3.6</author>
      </titleStmt>
      <publicationStmt>
        <p>for use by whoever wants it</p>
      </publicationStmt>
      <notesStmt>
        <note type="ns">http://www.example.org/ns/nonTEI</note>
      </notesStmt>
      <sourceDesc>
        <p>first created on Thursday 29th January 2009 07:16:48 AM</p>
        <p>This is the phase 1 version of the DTA schema.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <front>
      <divGen type="toc"/>
    </front>
    <body>
      <p>This is the TEI Customization, applied in phase 1 of the DFG Project Deutsches Textarchiv
        (The German Text Archive). This customization does not consider the TEI Header.</p>
      <schemaSpec ident="basisformat_phase1" docLang="en" prefix="tei_" start="TEI" xml:lang="en">
        
        <moduleRef key="core"
          except="add addrLine address analytic biblScope biblStruct binaryObject del desc distinct divGen editor email emph gb gloss graphic headItem headLabel imprint index label measure measureGrp meeting mentioned monogr num postBox postCode ptr q relatedItem rs said series soCalled street teiCorpus term textLang time unclear"/>
        <moduleRef key="tei"/>
        <moduleRef key="header"
          except="appInfo application cRefPattern calendar calendarDesc catDesc catRef category classCode classDecl correction creation distributor edition funder geoDecl handNote hyphenation interpretation normalization principal projectDesc quotation refState refsDecl samplingDecl scriptNote segmentation sponsor stdVals taxonomy textClass typeNote"/>
        <moduleRef key="textstructure" except="div1 div2 div3 div4 div5 div6 div7 group"/>
        
        <moduleRef key="analysis" except="cl interp interpGrp m pc phr s span spanGrp w"/>
        <moduleRef key="drama"
          except="camera caption epilogue move performance prologue set sound spGrp tech view"/>
        <moduleRef key="figures" except="figDesc notatedMusic"/>
        <moduleRef key="gaiji"
          except="char charDecl charName charProp glyph glyphName localName mapping unicodeName value"/>
        <moduleRef key="transcr"
          except="addSpan am damage damageSpan delSpan ex facsimile handNotes handShift line listTranspose metamark mod redo restore retrace sourceDoc subst substJoin surface surfaceGrp surplus transpose undo zone"/>
        
        
        <elementSpec module="corpus" ident="activity" mode="delete"/>
        <elementSpec module="corpus" ident="particDesc" mode="delete"/>
        <elementSpec module="corpus" ident="setting" mode="delete"/>
        <elementSpec module="corpus" ident="settingDesc" mode="delete"/>
        
        <elementSpec ident="c" module="analysis" mode="change">
          <classes mode="change">
            <memberOf key="att.coordinated"/>
          </classes>
          <attList>
            <attDef ident="guess" mode="delete" ns="http://www.deutsches-textarchiv.de/ns/1.0">
              <desc>Indicates the reliability with wich the character was recognised by the OCR
                software.</desc>
              <datatype>
                <rng:ref name="data.numeric"/>
              </datatype>
            </attDef>
            <attDef ident="part" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="function" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec module="header" ident="fileDesc" mode="change">
          <content xmlns="http://www.tei-c.org/ns/1.0">
            <rng:group xmlns:rng="http://relaxng.org/ns/structure/1.0">
              <rng:group>
                <rng:ref name="titleStmt"/>
                <rng:optional>
                  <rng:ref name="editionStmt"/>
                </rng:optional>
                <rng:optional>
                  <rng:ref name="extent"/>
                </rng:optional>
                <rng:optional>
                  <rng:ref name="filename"/>
                </rng:optional>
                <rng:ref name="publicationStmt"/>
                <rng:optional>
                  <rng:ref name="seriesStmt"/>
                </rng:optional>
                <rng:optional>
                  <rng:ref name="notesStmt"/>
                </rng:optional>
              </rng:group>
              <rng:oneOrMore>
                <rng:ref name="sourceDesc"/>
              </rng:oneOrMore>
            </rng:group>
          </content>
        </elementSpec>
        
        <elementSpec ident="availability" module="header" mode="change">
          <attList>
            <attDef ident="n" mode="change" usage="rec">
              <desc xml:lang="de"><att>n</att> gibt an, in welchem Umfang der Kontext eines
                Recherchetreffers im Web angezeigt wird.</desc>
              <datatype>
                <rng:text/>
              </datatype>
              <valList type="semi" mode="add">
                <valItem ident="OR0W">
                  <desc xml:lang="de">Ohne Rechte 0 Worte</desc>
                </valItem>
                <valItem ident="OR7W">
                  <desc xml:lang="de">Ohne Recht 7 Worte</desc>
                </valItem>
                <valItem ident="OR1S">
                  <desc xml:lang="de">Ohne Rechte 1 Satz</desc>
                </valItem>
                <valItem ident="OR1S">
                  <desc xml:lang="de">Ohne Rechte 1 Satz</desc>
                </valItem>
                <valItem ident="OR3S">
                  <desc xml:lang="de">Ohne Rechte 3 Sätze</desc>
                </valItem>
                <valItem ident="MR1S">
                  <desc xml:lang="de">Mit Rechten 1 Satz</desc>
                </valItem>
                <valItem ident="MR3S">
                  <desc xml:lang="de">Mit Rechten 3 Sätze</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        
        <elementSpec ident="fw" module="transcr" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <desc xml:lang="de"><att>n</att> gibt an, welcher Art das forme work ist.</desc>
              <datatype>
                <rng:text/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="header"/>
                <valItem ident="sig"/>
                <valItem ident="catch"/>
              </valList>
            </attDef>
            <attDef ident="place" mode="change" usage="req">
              <desc>describes the place, where the forme work is found on the page</desc>
              <valList type="closed" mode="replace">
                <valItem ident="top"/>
                <valItem ident="bottom"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        
        <classSpec ident="att.breaking" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="break" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.canonical" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.combinable" module="tagdocs" mode="change" type="atts">
          <attList>
            <attDef ident="mode" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.coordinated" module="transcr" mode="change" type="atts">
          <attList>
            <attDef ident="start" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.damaged" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="degree" mode="delete"/>
            <attDef ident="group" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.datable" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="calendar" mode="delete"/>
            <attDef ident="period" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.datable.custom" module="namesdates" mode="change" type="atts">
          <attList>
            <attDef ident="when-custom" mode="delete"/>
            <attDef ident="notBefore-custom" mode="delete"/>
            <attDef ident="notAfter-custom" mode="delete"/>
            <attDef ident="from-custom" mode="delete"/>
            <attDef ident="to-custom" mode="delete"/>
            <attDef ident="datingPoint" mode="delete"/>
            <attDef ident="datingMethod" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.datable.iso" module="namesdates" mode="change" type="atts">
          <attList>
            <attDef ident="when-iso" mode="delete"/>
            <attDef ident="notBefore-iso" mode="delete"/>
            <attDef ident="notAfter-iso" mode="delete"/>
            <attDef ident="from-iso" mode="delete"/>
            <attDef ident="to-iso" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.datable.w3c" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="when" mode="delete"/>
            <attDef ident="notBefore" mode="delete"/>
            <attDef ident="notAfter" mode="delete"/>
            <attDef ident="from" mode="delete"/>
            <attDef ident="to" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.declarable" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="default" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.declaring" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="decls" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.dimensions" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="precision" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.divLike" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="part" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.docStatus" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="status" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.duration.iso" module="namesdates" mode="change" type="atts">
          <attList>
            <attDef ident="dur-iso" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.duration.w3c" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="dur" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.editLike" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.enjamb" module="verse" mode="change" type="atts">
          <attList>
            <attDef ident="enjamb" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.global" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="xml:base" mode="delete"/>
            <attDef ident="xml:space" mode="delete"/>
            <attDef ident="rendition" mode="change">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.pointer"/>
              </datatype>
              <valList type="closed" mode="replace">
                <valItem ident="#topBraced"/>
                <valItem ident="#bottomBraced"/>
                <valItem ident="#leftBraced"/>
                <valItem ident="#rightBraced"/>
                <valItem ident="#braced"/>
                <valItem ident="#h_braced"/>
                <valItem ident="#arrow"/>
                <valItem ident="#fr"/>
                <valItem ident="#aq"/>
                <valItem ident="#right"/>
                <valItem ident="#c"/>
                <valItem ident="#et"/>
                <valItem ident="#b"/>
                <valItem ident="#g"/>
                <valItem ident="#k"/>
                <valItem ident="#i"/>
                <valItem ident="#in"/>
                <valItem ident="#u"/>
                <valItem ident="#uu"/>
                <valItem ident="#sup"/>
                <valItem ident="#sub"/>
                <valItem ident="#red"/>
                <valItem ident="#blue"/>
                <valItem ident="#inline"/>
                <valItem ident="#above-cap"/>
              </valList>
            </attDef>
            <attDef ident="xml:lang" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.language"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.global.analytic" module="analysis" mode="change" type="atts">
          <attList>
            <attDef ident="ana" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.global.change" module="transcr" mode="change" type="atts">
          <attList>
            <attDef ident="change" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.global.linking" mode="change" type="atts" module="linking">
          <attList>
            <attDef ident="synch" mode="delete"/>
            <attDef ident="sameAs" mode="delete"/>
            <attDef ident="copyOf" mode="delete"/>
            <attDef ident="exclude" mode="delete"/>
            <attDef ident="select" mode="delete"/>
            <attDef ident="next" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="corresp" mode="change">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="prev" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.handFeatures" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="scribe" mode="delete"/>
            <attDef ident="scribeRef" mode="delete"/>
            <attDef ident="script" mode="delete"/>
            <attDef ident="scriptRef" mode="delete"/>
            <attDef ident="medium" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.identified" module="tagdocs" mode="change" type="atts">
          <attList>
            <attDef ident="ident" mode="delete"/>
            <attDef ident="predeclare" mode="delete"/>
            <attDef ident="module" mode="delete"/>
            <attDef ident="status" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.internetMedia" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="mimeType" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.interpLike" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="inst" mode="delete"/>
            <attDef ident="type" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.lexicographic" module="dictionaries" mode="change" type="atts">
          <attList>
            <attDef ident="expand" mode="delete"/>
            <attDef ident="norm" mode="delete"/>
            <attDef ident="split" mode="delete"/>
            <attDef ident="value" mode="delete"/>
            <attDef ident="orig" mode="delete"/>
            <attDef ident="location" mode="delete"/>
            <attDef ident="mergedIn" mode="delete"/>
            <attDef ident="opt" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.measurement" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="commodity" mode="delete"/>
            <attDef ident="unit" mode="delete"/>
            <attDef ident="quantity" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.metrical" module="verse" mode="change" type="atts">
          <attList>
            <attDef ident="met" mode="delete"/>
            <attDef ident="real" mode="delete"/>
            <attDef ident="rhyme" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.msExcerpt" module="msdescription" mode="change" type="atts">
          <attList>
            <attDef ident="defective" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.naming" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="role" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.personal" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="full" mode="delete"/>
            <attDef ident="sort" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.pointing" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="targetLang" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.pointing.group" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="domains" mode="delete"/>
            <attDef ident="targFunc" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.ranging" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="atLeast" mode="delete"/>
            <attDef ident="atMost" mode="delete"/>
            <attDef ident="min" mode="delete"/>
            <attDef ident="max" mode="delete"/>
            <attDef ident="confidence" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.rdgPart" module="textcrit" mode="change" type="atts">
          <attList>
            <attDef ident="wit" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.readFrom" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="source" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.responsibility" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.scoping" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="target" mode="delete"/>
            <attDef ident="match" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.segLike" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="function" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.sortable" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="sortKey" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.sourced" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="ed" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.spanning" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="spanTo" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.tableDecoration" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="rows" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="cols" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        <classSpec ident="att.textCritical" module="textcrit" mode="change" type="atts">
          <attList>
            <attDef ident="wit" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="cause" mode="delete"/>
            <attDef ident="varSeq" mode="delete"/>
            <attDef ident="hand" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.timed" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="start" mode="delete"/>
            <attDef ident="end" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.transcriptional" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="hand" mode="delete"/>
            <attDef ident="status" mode="delete"/>
            <attDef ident="cause" mode="delete"/>
            <attDef ident="seq" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.translatable" module="tei" mode="change" type="atts">
          <attList>
            <attDef ident="version" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.typed" mode="change" type="atts" module="tei">
          <attList>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </classSpec>
        <classSpec ident="att.entryLike" module="dictionaries" mode="change" type="atts">
          <attList>
            <attDef ident="type" mode="delete"/>
          </attList>
        </classSpec>
        <elementSpec ident="lg" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="change">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="part" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="type" mode="change">
              <defaultVal>poem</defaultVal>
              <valList type="closed" mode="replace">
                <valItem ident="poem"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="div" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="act"/>
                <valItem ident="advertisement"/>
                <valItem ident="appendix"/>
                <valItem ident="bibliography"/>
                <valItem ident="chapter"/>
                <valItem ident="contents"/>
                <valItem ident="copyright"/>
                <valItem ident="corrigenda"/>
                <valItem ident="dedication"/>
                <valItem ident="diaryEntry"/>
                <valItem ident="dramatisPersonae"/>
                <valItem ident="epigraph"/>
                <valItem ident="figures"/>
                <valItem ident="frontispiece"/>
                <valItem ident="halftitle"/>
                <valItem ident="imprint"/>
                <valItem ident="imprimatur"/>
                <valItem ident="index"/>
                <valItem ident="letter"/>
                <valItem ident="listOfFigures"/>
                <valItem ident="poem"/>
                <valItem ident="preface"/>
                <valItem ident="scene"/>
                <valItem ident="trailer"/>
                
                <valItem ident="fsBibleVerse"/>
                <valItem ident="fsSermon"/>
                <valItem ident="fsOration"/>
                <valItem ident="fsPersonalia"/>
                <valItem ident="fsCurriculumVitae"/>
                <valItem ident="fsProgrammaAcademicum"/>
                <valItem ident="fsAcademicOration"/>
                <valItem ident="fsEpicedia"/>
                <valItem ident="fsEpitaph"/>
                <valItem ident="fsConsolationLetter"/>
                <valItem ident="fsHymn"/>
                <valItem ident="fsTranslocation"/>
                <valItem ident="fsBurial"/>
                <valItem ident="fsRemembrance"/>
                <valItem ident="fsThanks"/>
                <valItem ident="fsCondolence"/>
                <valItem ident="fsOtherPublication"/>
                <valItem ident="fsProcession"/>
                <valItem ident="fsCalligram"/>
                <valItem ident="fsExordium"/>
                <valItem ident="fsMainPart"/>
              </valList>
            </attDef>
            <attDef ident="org" mode="delete"/>
            <attDef ident="sample" mode="delete"/>
            <attDef ident="part" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="n" mode="change">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="gap" module="core" mode="change">
          <attList>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="unit" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="chars"/>
                <valItem ident="lines"/>
                <valItem ident="pages"/>
                <valItem ident="words"/>
              </valList>
            </attDef>
            <attDef ident="quantity" mode="change" usage="opt">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="extent" mode="delete"/>
            <attDef ident="agent" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="reason" mode="change">
              <valList type="closed" mode="replace">
                <valItem ident="insignificant"/>
                <valItem ident="illegible"/>
                <valItem ident="fm"/>
                <valItem ident="lost"/>
              </valList>
            </attDef>
            <attDef ident="hand" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="abbr" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="expan" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="author" module="core" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="bibl" module="core" mode="change">
          <attList>
            <attDef ident="default" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="sortKey" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="cb" module="core" mode="change">
          <attList>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="ed" mode="delete"/>
            <attDef ident="spanTo" mode="delete"/>
            <attDef ident="break" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="type" mode="change">
              <valList type="open" mode="replace">
                <valItem ident="start"/>
                <valItem ident="end"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="cit" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="corr" module="core" mode="change">
          <attList>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="date" module="core" mode="change">
          <attList>
            <attDef ident="calendar" mode="delete"/>
            <attDef ident="period" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="head" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="hi" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:id" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="item" module="core" mode="change">
          <attList>
            <attDef ident="sortKey" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="l" module="core" mode="change">
          <attList>
            <attDef ident="part" mode="delete"/>
            <attDef ident="met" mode="delete"/>
            <attDef ident="real" mode="delete"/>
            <attDef ident="rhyme" mode="delete"/>
            <attDef ident="enjamb" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="lb" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="ed" mode="delete"/>
            <attDef ident="spanTo" mode="delete"/>
            <attDef ident="break" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="list" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="sortKey" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="milestone" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="ed" mode="delete"/>
            <attDef ident="spanTo" mode="delete"/>
            <attDef ident="break" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="unit" mode="change" usage="req">
              <defaultVal>section</defaultVal>
              <valList type="closed" mode="replace">
                <valItem ident="section"/>
              </valList>
            </attDef>
            <attDef ident="rendition" mode="change" usage="req">
              <defaultVal>#hr</defaultVal>
              <valList type="closed" mode="replace">
                <valItem ident="#hr"/>
                <valItem ident="#blue"/>
                <valItem ident="#red"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="name" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="person"/>
                <valItem ident="place"/>
                <valItem ident="organization"/>
              </valList>
            </attDef>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="note" module="core" mode="change">
          <attList>
            <attDef ident="anchored" mode="delete"/>
            <attDef ident="targetEnd" mode="delete"/>
            <attDef ident="target" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="editorial"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="place" mode="change">
              <desc>describes where the note occurs (left/right - margins; foot - footnotes; end -
                endnotes)</desc>
              <valList type="closed" mode="replace">
                <valItem ident="left"/>
                <valItem ident="right"/>
                <valItem ident="foot"/>
                <valItem ident="end"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="orig" module="core" mode="change">
          <attList>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="p" module="core" mode="change">
          <attList>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pb" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="ed" mode="delete"/>
            <attDef ident="spanTo" mode="delete"/>
            <attDef ident="break" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="quote" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="defective" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="ref" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="cRef" mode="delete"/>
            <attDef ident="evaluate" mode="delete"/>
            <attDef ident="mimeType" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="target" mode="change">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="reg" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="stage" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="title" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="level" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="docDate" module="textstructure" mode="change">
          <attList>
            <attDef ident="when" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="floatingText" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="postscript" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="salute" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="text" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="titlePage" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="main"/>
                <valItem ident="halftitle"/>
                <valItem ident="series"/>
                <valItem ident="volume"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="titlePart" module="textstructure" mode="change">
          <attList>
            <attDef ident="type" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="main"/>
                <valItem ident="sub"/>
                <valItem ident="volume"/>
                <valItem ident="desc"/>
                <valItem ident="series"/>
                <valItem ident="seriesnumber"/>
                <valItem ident="price"/>
                <valItem ident="copyright"/>
                <valItem ident="dedication"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="castItem" module="drama" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="figure" module="figures" mode="change">
          <attList>
            <attDef ident="place" mode="delete"/>
            <attDef ident="type" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="notatedMusic"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="formula" module="figures" mode="change">
          <attList>
            <attDef ident="notation" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="TeX"/>
                <valItem ident="MathML"/>
              </valList>
            </attDef>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="g" module="gaiji" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="ref" mode="change" usage="opt">
              <valList type="open" mode="replace">
                <valItem ident="#fric"/>
                <valItem ident="#frac"/>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="space" module="transcr" mode="change">
          <attList>
            <attDef ident="dim" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="vertical"/>
                <valItem ident="horizontal"/>
              </valList>
            </attDef>
            <attDef ident="unit" mode="change" usage="opt">
              <valList type="closed" mode="replace">
                <valItem ident="chars"/>
                <valItem ident="lines"/>
                <valItem ident="pages"/>
                <valItem ident="words"/>
              </valList>
            </attDef>
            <attDef ident="quantity" mode="change" usage="opt">
              <datatype minOccurs="1" maxOccurs="unbounded">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="quantity" mode="delete"/>
            <attDef ident="extent" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="precision" mode="delete"/>
            <attDef ident="scope" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="supplied" module="transcr" mode="change">
          <attList>
            <attDef ident="reason" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="evidence" mode="delete"/>
            <attDef ident="source" mode="delete"/>
            <attDef ident="instant" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="pubPlace" module="core" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="nymRef" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="choice" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="foreign" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="xml:lang" mode="change" usage="req">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:text/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="publisher" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sic" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="sp" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="speaker" module="core" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="argument" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="back" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="body" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="byline" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="closer" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="dateline" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="docAuthor" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="docEdition" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="docImprint" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="docTitle" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="key" mode="delete"/>
            <attDef ident="ref" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="epigraph" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="front" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="imprimatur" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="opener" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="signed" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="trailer" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="actor" module="drama" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="castGroup" module="drama" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="castList" module="drama" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="role" module="drama" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="roleDesc" module="drama" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="cell" module="figures" mode="change">
          <attList>
            <attDef ident="role" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="row" module="figures" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="role" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="rows" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
            <attDef ident="cols" mode="change">
              <datatype minOccurs="1" maxOccurs="1">
                <rng:ref name="data.count"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="table" module="figures" mode="change">
          <attList>
            <attDef ident="rows" mode="delete"/>
            <attDef ident="cols" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <moduleRef key="linking" except="alt altGrp anchor join joinGrp link linkGrp timeline when"/>
        <elementSpec ident="ab" module="linking" mode="change">
          <attList>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="decls" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
            <attDef ident="part" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="I"/>
                <valItem ident="F"/>
                <valItem ident="M"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        <elementSpec ident="seg" module="linking" mode="change">
          <attList>
            <attDef ident="part" mode="change" usage="req">
              <valList type="closed" mode="replace">
                <valItem ident="I"/>
                <valItem ident="F"/>
                <valItem ident="M"/>
              </valList>
            </attDef>
            <attDef ident="function" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="cert" mode="delete"/>
            <attDef ident="resp" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="TEI" module="textstructure" mode="change">
          <attList>
            <attDef ident="n" mode="delete"/>
            <attDef ident="xml:lang" mode="delete"/>
            <attDef ident="rend" mode="delete"/>
            <attDef ident="rendition" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
        <elementSpec ident="listBibl" module="core" mode="change">
          <attList>
            <attDef ident="sortKey" mode="delete"/>
            <attDef ident="default" mode="delete"/>
            <attDef ident="type" mode="delete"/>
            <attDef ident="subtype" mode="delete"/>
            <attDef ident="n" mode="delete"/>
            <attDef ident="facs" mode="delete"/>
          </attList>
        </elementSpec>
      </schemaSpec>
    </body>
  </text>
</TEI>
